// Colors
$primary: #005b9f;
$secondary: #7b7b7b;
$tertiary: #464646;
$danger: #dc3545;
$success: #00d270;
$warning: #f9eb46;
$green: #23d160;
$gray: #f5f7fb;
$dark: #000000;
$light: #ffff00;

/* Media Queries */

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$full: 1440px;
$HD: 1600px;
$FHD: 1900px;